@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@400;800&display=swap');
* {
    background-color:#8754B3;
    text-align: justify;
    text-align-last: center;
    font-family: 'Lexend Deca', sans-serif;
    color:#15003d;
}.belle{
    margin-top:32px;
    width:256px;
    border-radius:50%;
}.piuvas{
    margin-top:0;
    margin-bottom:0;
    font-weight:800;
    font-size:100px;
}.text{
    font-size:16px;
    width:335px;
    margin:auto;
    word-wrap:break-word;
}.indiv{
    padding:5px;
    display:inline-block;
}